POSTGRES_DB=voltedge_monitoring
POSTGRES_USER=voltedge
POSTGRES_PASSWORD=voltedge

BACKEND_PORT=8000
DATABASE_URL=postgresql+psycopg2://voltedge:voltedge@postgres:5432/voltedge_monitoring

RABBITMQ_DEFAULT_USER=voltedge
RABBITMQ_DEFAULT_PASS=voltedge
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://voltedge:voltedge@rabbitmq:5672/
RABBITMQ_ENABLED=true
